#loading, #buttonaleart, #buttonaleartmob, h1, h6, .lead, p {
text-align: center;
}
.btn-group, .btn-group-vertical {
    display: block;
}
a, a:hover {
    color: #fff;
    text-decoration: none;
}
@media (min-width: 600px) {
#buttonaleartmob {
    display: none;	
}
.alert-info {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #fff
}
.btn-primary:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    border-color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/*Background*/
body {
	text-align: center;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
 }
}
  
@media (max-width: 600px) {
body {
    background-color: #000;
}
.container {
    padding-top: 35px;
}
.btn .badge, #buttonaleart {
    display: none;
}
.alert-info {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.btn-dark:hover {
    color: #000;
    background-color: #dae0e5;
    border-color: #1d2124;
}
.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #fff
}
.btn-primary:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
h1, h6, p, strong {
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 300;
 }
}